/*.user
/**/*.suo
/**/bin
/**/obj
/**/*.Cache
/**/*.swp
/**/*.swo
/**/CIS.*.dll
/**/.vs
/**/UpgradeLog*.htm
/**/*.vssscc
/**/*.props
/**/*.vsprops
/_NCrunch_*
/_ReSharper.Caches
/.vs
/**/.idea
/**/*.iml
/**/*.user
/**/FakesAssemblies
/**/msbuild.err
/**/msbuild.log
/**/msbuild.sum
/**/msbuild.wrn
